<section class="d-flex flex-column p-4 text-center shadow bg-body rounded">
    <h1 class="texto-azul display-3 fw-bold">Selecciona su Motivo de Atención</h1>
    <h2 class="text-muted fw-bolder">Siga los pasos indicados en pantalla</h2>
</section>


  <section style="height:800px" class="d-flex justify-content-center align-items-center bg-azul-calro">
    <div class="row col-6" >

        <div class="col-6 mb-3">
          <div class="card">
            <div class="card-body text-center">
                <a routerLink="/pages/tiket">
                <div class="p-4">
                    <img src="assets/img/atencion.png" class="img-fluid w-50" >
                </div>
                <h4 class="card-title">Laboratorio</h4>
                </a>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="card">
            <div class="card-body text-center">
                <a routerLink="/pages/tiket">
                <div class="p-4">
                    <img src="assets/img/atencion.png" class="img-fluid w-50" >
                </div>
                <h4 class="card-title">Exámenes</h4>
                </a>
            </div>
          </div>
        </div>

        <div class="col-6">
            <div class="card">
              <div class="card-body text-center">
                <a routerLink="/pages/tiket">
                  <div class="p-4">
                      <img src="assets/img/atencion.png" class="img-fluid w-50" >
                  </div>
                  <h4 class="card-title">Imagenologia</h4>
                </a>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="card">
              <div class="card-body text-center">
                <a routerLink="/pages/tiket">
                  <div class="p-4">
                      <img src="assets/img/atencion.png" class="img-fluid w-50" >
                  </div>
                  <h4 class="card-title">Procedimientos</h4>
                  </a>
              </div>
            </div>
          </div>

          <div class="form-group d-flex justify-content-center  mt-5">
            <a routerLink="/pages/menu" class="btn btn-primary btn-lg d-flex align-items-center"><i class="bi bi-arrow-left"></i> Volver</a>
          </div>
    
      </div>
  </section>