<section class="d-flex flex-column p-4 text-center shadow bg-body rounded">
    <h1 class="texto-azul display-3 fw-bold">Selecciona tu previsión de salud</h1>
</section>

<section style="height:830px" class="d-flex justify-content-center align-items-center p-3 bg-azul-calro">
    <div class="d-flex flex-wrap col-7">

        <div class="row row-cols-1 row-cols-md-3 g-5">

            <div *ngFor="let prevision of prevision_array" class="col text-center position-relative">
                <div (click)="registrarPrevision(prevision.aporte)" class="card">
                    <div class="p-3 text-center">
                        <img [src]="'assets/img/'+prevision.imagen" class="img-fluid w-75">
                    </div>
                </div>
            </div>
            
        </div>

        <div class="form-group text-center mx-auto mt-5 col-3">
            <a routerLink="/pages/cita" class="btn btn-primary btn-lg"><i class="bi bi-arrow-left"></i> Volver</a>
        </div>
    </div>
</section>

