<section class="d-flex flex-column p-4 text-center shadow bg-body rounded">
    <h1 class="texto-azul display-3 fw-bold">Detalles de la prestación a pagar</h1>
    <h2 class="text-muted fw-bolder">Favor verifica tu información antes de continuar</h2>
</section>

<section style="height:800px" class="d-flex flex-colum align-items-center p-3 bg-azul-calro">

    <div class="d-flex flex-column col-4 mx-auto">

        <div class="card border-0 shadow rounded-3 py-4 text-center">
            <div class="card-body">
                <div class="">
                    <strong class="texto-azul">VALOR DE LA PRESTACIÓN</strong>
                    <h2 class="text-muted p-1">${{costo}}</h2>
                </div>
                <hr class="w-75 mx-auto">
                <div class="">
                    <strong class="texto-azul">BONIFICAIÓN A FINANCIAR</strong>
                    <h2 class="text-muted p-1">${{prevision}}</h2>
                </div> 
                <hr class="w-75 mx-auto"> 
                <div class="">
                    <strong class="texto-azul">COPAGO DEL BENEFICIADOR</strong>
                    <h2 class="text-muted p-1">${{costo-prevision}}</h2>
                </div> 
            </div>
        </div>

        <div class="card border-0 shadow rounded-3  text-center mt-4">
            <div class="card-header bg-primary text-white">
                <h2>TOTAL A PAGAR</h2>
            </div>
            <div class="card-body">
                <h1 class="text-muted p-2">${{costo-prevision}}</h1>
                <div class="d-grid gap-2 col-6 mx-auto mt-3 mb-3">
                    <button (click)="registrarPago()"  type="button" class="btn btn-primary btn-lg">Pagar <i class="ms-1 bi bi-arrow-right"></i></button>
                </div>
            </div>
        </div>

        <div class="form-group text-center mx-auto mt-4 col-3">
            <a routerLink="/pages/prevision" class="btn btn-primary btn-lg"><i class="bi bi-arrow-left"></i> Volver</a>
        </div>

      </div>

</section>