<div class="card mx-auto mt-4 col-5 mb-auto">
    <div class="row btn-group-lg" role='group'>
      <button (click)="prees('1')" type="button" class="col-sm btn btn-primary py-2">1</button>
      <button (click)="prees('2')" type="button" class="col-sm btn btn-primary py-2">2</button>
      <button (click)="prees('3')" type="button" class="col-sm btn btn-primary py-2">3</button>
      <button (click)="prees('4')" type="button" class="col-sm btn btn-primary py-2">4</button>
      <button (click)="prees('5')" type="button" class="col-sm btn btn-primary py-2">5</button>
      <button (click)="prees('6')" type="button" class="col-sm btn btn-primary py-2">6</button>
      <button (click)="prees('7')" type="button" class="col-sm btn btn-primary py-2">7</button>
      <button (click)="prees('8')" type="button" class="col-sm btn btn-primary py-2">8</button>
      <button (click)="prees('9')" type="button" class="col-sm btn btn-primary py-2">9</button>
      <button (click)="prees('0')" type="button" class="col-sm btn btn-primary py-2">0</button>
    </div>
    <div class="row btn-group-lg" role='group'>
      <button (click)="prees('q')" type="button" class="col-sm btn btn-primary py-2">q</button>
      <button (click)="prees('w')" type="button" class="col-sm btn btn-primary py-2">w</button>
      <button (click)="prees('e')" type="button" class="col-sm btn btn-primary py-2">e</button>
      <button (click)="prees('r')" type="button" class="col-sm btn btn-primary py-2">r</button>
      <button (click)="prees('t')" type="button" class="col-sm btn btn-primary py-2">t</button>
      <button (click)="prees('y')" type="button" class="col-sm btn btn-primary py-2">y</button>
      <button (click)="prees('u')" type="button" class="col-sm btn btn-primary py-2">u</button>
      <button (click)="prees('i')" type="button" class="col-sm btn btn-primary py-2">i</button>
      <button (click)="prees('o')" type="button" class="col-sm btn btn-primary py-2">o</button>
      <button (click)="prees('p')" type="button" class="col-sm btn btn-primary py-2">p</button>
    </div>
    <div class="row btn-group-lg">
      <button (click)="prees('a')" type="button" class="col-sm btn btn-primary py-2">a</button>
      <button (click)="prees('s')" type="button" class="col-sm btn btn-primary py-2">s</button>
      <button (click)="prees('d')" type="button" class="col-sm btn btn-primary py-2">d</button>
      <button (click)="prees('f')" type="button" class="col-sm btn btn-primary py-2">f</button>
      <button (click)="prees('g')" type="button" class="col-sm btn btn-primary py-2">g</button>
      <button (click)="prees('h')" type="button" class="col-sm btn btn-primary py-2">h</button>
      <button (click)="prees('j')" type="button" class="col-sm btn btn-primary py-2">j</button>
      <button (click)="prees('k')" type="button" class="col-sm btn btn-primary py-2">k</button>
      <button (click)="prees('l')" type="button" class="col-sm btn btn-primary py-2">l</button>
      <button (click)="prees('ñ')" type="button" class="col-sm btn btn-primary py-2">ñ</button>
    </div>
    <div class="row btn-group-lg">
      <button (click)="prees('z')" type="button" class="col-sm btn btn-primary py-2">z</button>
      <button (click)="prees('x')" type="button" class="col-sm btn btn-primary py-2">x</button>
      <button (click)="prees('c')" type="button" class="col-sm btn btn-primary py-2">c</button>
      <button (click)="prees('v')" type="button" class="col-sm btn btn-primary py-2">v</button>
      <button (click)="prees('b')" type="button" class="col-sm btn btn-primary py-2">b</button>
      <button (click)="prees('n')" type="button" class="col-sm btn btn-primary py-2">n</button>
      <button (click)="prees('m')" type="button" class="col-sm btn btn-primary py-2">m</button>
      <button (click)="prees('.')" type="button" class="col-sm btn btn-primary py-2">.</button>
      <button (click)="prees('-')" type="button" class="col-sm btn btn-primary py-2">-</button>
      <button (click)="prees('*')" type="button" class="col-sm btn btn-primary py-2"><i class="bi bi-backspace"></i></button>
    </div>
</div>