<section class="d-flex flex-column p-4 text-center shadow bg-body rounded">
  <h1 class="texto-azul display-3 fw-bold">Selecciona una cita</h1>
  <h2 class="text-muted fw-bolder">De tus horas reservadas para el dia de hoy</h2>
</section>


<section style="height:800px" class="d-flex justify-content-center p-3  bg-azul-calro">
  <div class="d-flex flex-wrap col-5">

    <div class="container">
      <div class="row col-12">
        <div *ngFor="let doct of doctores" class="col-4 mb-5 text-center  position-relative">
          <div class="card">
            <div class="p-3 text-center">
              <img [src]="'assets/img/'+doct.foto" class="img-fluid w-50">
            </div>
            <div class="card-body text-center bg-primary text-white">
              <h6 class="card-title">{{doct.nombre}}</h6>
              <p>{{doct.tipo}}</p>
              <h4 class=""><i class="bi bi-clock"></i> {{doct.hora}}</h4>
            </div>
          </div>
          <button (click)="openModal(doct.nombre,doct.pacientes,doct.costo)"
            class="position-absolute  top-100 start-50 translate-middle btn btn-secondary">Pagar <i
              class="bi bi-arrow-right"></i></button>
        </div>
      </div>
      <div class="form-group text-center mx-auto mt-3 col-3">
        <a routerLink="/pages/menu" class="btn btn-primary btn-lg"><i class="bi bi-arrow-left"></i> Volver</a>
      </div>
    </div>
  </div>
</section>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content shadow">
      <div class="modal-body text-center d-flex flex-column">
        <img src="assets/img/pacientes.jpg" class="img-fluid w-25 mx-auto">
        <strong class="mb-3 text-primary">Hay</strong>
        <h1 class="text-muted">{{doctor_pacientes}} Pacientes</h1>
        <strong class="text-primary">antes que usted esperando ser atendidos por</strong>
        <h4 class="fw-bolder mt-3 texto-azul">{{doctor_nombre}}</h4>
        <div class="form-group mt-3">
          <button (click)="regitrarConsulta()" type="button" class="btn btn-primary">Continuar <i
              class="ms-1 bi bi-arrow-right"></i></button><br>
        </div>
        <a (click)="tiket()" class="text-primary mt-3"><u>Atención en caja</u></a>
      </div>
    </div>
  </div>
</div>