<header class="p-2 d-flex align-items-center shadow rounded">
    <div class="">
      <img src="assets/img/logo.png" width="220">
    </div>
    <div class="float-right ms-auto text-muted fw-bold">
      <span class="me-3"><i class="bi bi-calendar3 me-1"></i> {{fecha}}</span>
      <span class="me-3"> <i class="bi bi-clock me-1"></i> {{hora}}</span>
    </div>
    <button *ngIf="!botonSalir == false" (click)="salir()" class="btn btn-primary me-3">Salir</button>
  </header>