<app-header></app-header>

<section class="d-flex flex-column p-4 text-center shadow bg-body rounded">
  <h1 class="texto-azul display-3 fw-bold">Bienvenido</h1>
  <h2 class="text-muted fw-bolder">Seleccione un tipo de indentificación</h2>
</section>

<div  style="height:800px" class="p-4 bg-azul-calro ">
    <div class="d-flex justify-content-center ">
      <div class="card shadow-sm p-4 col-md-5 border-0">
        <div class="text-center">
          <img src="assets/img/medicine.svg" class="img-fluid" width="350">
        </div>
        <div class="d-flex justify-content-center align-items-center mt-5">
          <button (click)="tipoFom(1)" class="btn btn-primary px-5 me-4">RUT</button>
          <button (click)="tipoFom(2)" class="btn btn-primary px-4">PASAPORTE</button>
        </div>
  
        <form *ngIf="tipo_form == 1" [formGroup]="form" (ngSubmit)="enviarForm()">
          <div class="text-center mt-2">
            <p class="text-muted fs-5 fw-bolder">RUT seleccionado</p>
            <div class="col-md-5 mx-auto">
              <input formControlName="rut" [value]="form.value.rut" (focus)="focus(1)"  type="text"  class="form-control" placeholder="RUT">
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center mt-3">
            <button (click)="teclado1.limpiarTecleado()" type="button" class="btn btn-outline-secondary me-4">Borrar <i class="bi bi-trash"></i></button>
            <button class="btn btn-outline-primary">Ingresar <i class="bi bi-arrow-right"></i></button>
          </div>
        </form>
  
        <form *ngIf="tipo_form == 2" [formGroup]="form" (ngSubmit)="enviarForm()">
          <div class="text-center mt-2">
            <p class="text-muted fs-5 fw-bolder">Pasaporte seleccionado</p>
            <div class="col-md-5 mx-auto">
              <input formControlName="pasaporte" [value]="form.value.pasaporte" (focus)="focus(2)"  type="text"  class="form-control" placeholder="PASAPORTE">
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center mt-3">
            <button (click)="teclado2.limpiarTecleado()" type="button" class="btn btn-outline-secondary me-4">Borrar <i class="bi bi-trash"></i></button>
            <button class="btn btn-outline-primary">Ingresar <i class="bi bi-arrow-right"></i></button>
          </div>
        </form>
  
      </div>
    </div>
  
    <div *ngIf="tipo_form == 1 && focus_rut == true">
      <teclado_numerico #teclado1 (tecleado)="tecleado($event)"></teclado_numerico>
     </div> 
  
     <div *ngIf="tipo_form == 2 && focus_pasaport == true">
      <teclado_alfanumerico #teclado2 (tecleado)="tecleado($event)"></teclado_alfanumerico>
     </div> 
  
  </div>

  <app-footer></app-footer>