<section class="d-flex flex-column p-4 text-center shadow bg-body rounded">
    <h1 class="texto-azul display-3 fw-bold">Retira tu ticket de atención</h1>
    <h2 class="text-muted fw-bolder">Seras llamado en un momento</h2>
</section>


<section style="height:800px" class="d-flex flex-colum align-items-center p-3 bg-azul-calro">

    <div class="d-flex flex-column col-6 mx-auto">

        <div class="card border-0 shadow rounded-3  text-center mb-4">
            <div class="card-body mb-4">

                <div class="p-3">
                    <div class="bg-black w-75 p-1 rounded-pill mx-auto border border-4 border-primary">
                    </div>
                </div>
                

                <div class="w-75 mx-auto shadow-lg mt-3 p-3">

                    <hr class="w-75 mx-auto bg-primary p-1">

                    <div class="p-3">
                        <img src="assets/img/logo.png" class="w-50">  
                    </div>
                    <h5>NUMERO DE ATENCIÓN</h5>
                    <h1 class="fw-bolder display-2" >E01</h1>
                    <hr class="w-75 mx-auto bg-primary p-1">
                    <h5 class="mt-5">MUCHAS GRACIAS <br> POR SU ATENCIÓN</h5>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>

            </div>
        </div>

    </div>

</section>