<section class="d-flex flex-column p-4 text-center shadow bg-body rounded">
    <h1 class="texto-azul display-3 fw-bold">Enviar Correo</h1>
    <h2 class="text-muted fw-bolder">Ingresa tu correo electrónico para recibir comprobante de atención</h2>
</section>


<section style="height:800px" class="d-flex flex-colum align-items-center p-3 bg-azul-calro">

    <div class="d-flex flex-column col-8 mx-auto">

        <div class="card border-0 shadow rounded-3  text-center mb-4">
            <div class="card-body mb-4">
                <div class="p-3 texto-azul">
                    <svg xmlns="http://www.w3.org/2000/svg" width="130" fill="currentColor"
                        class="bi bi-envelope-paper-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M6.5 9.5 3 7.5v-6A1.5 1.5 0 0 1 4.5 0h7A1.5 1.5 0 0 1 13 1.5v6l-3.5 2L8 8.75l-1.5.75ZM1.059 3.635 2 3.133v3.753L0 5.713V5.4a2 2 0 0 1 1.059-1.765ZM16 5.713l-2 1.173V3.133l.941.502A2 2 0 0 1 16 5.4v.313Zm0 1.16-5.693 3.337L16 13.372v-6.5Zm-8 3.199 7.941 4.412A2 2 0 0 1 14 16H2a2 2 0 0 1-1.941-1.516L8 10.072Zm-8 3.3 5.693-3.162L0 6.873v6.5Z" />
                    </svg>
                </div>

                <ng-container *ngIf="submit == false; else enviado">
                    <h5 class="text-muted">Ingresa tu correo electrónico</h5>
                    <form [formGroup]="formCorreo" (ngSubmit)="enviarCorreo()">
                        <div class="form-group col-6 mx-auto mt-3">
                            <input autofocus type="email" formControlName="correo" name="correo"
                                [value]="formCorreo.value.correo" placeholder="Correo electrónico" class="form-control" [ngClass]="{'is-invalid':submit == false && formCorreo.controls.correo.invalid }" >
                                <div *ngIf="submit == false && formCorreo.controls.correo.invalid" class="invalid-feedback">
                                    Este campo es obligatorio!
                                </div>
                        </div>

                        <teclado_alfanumerico (tecleado)="tecleado($event)"></teclado_alfanumerico>

                        <div class="form-group mt-4">
                            <button class="btn btn-primary btn-lg">Enviar y salir<i
                                    class="ms-1 bi bi-arrow-right"></i></button>
                        </div>
                    </form>
                </ng-container>

                <ng-template #enviado>
                    <h5 class="text-muted">Correo electrónico enviado a</h5>
                    <h4 class="texto-azul">{{formCorreo.value.correo}}</h4>
                </ng-template>

            </div>
        </div>

    </div>

</section>