<section class="d-flex flex-column p-4 text-center shadow bg-body rounded">
    <h1 class="texto-azul display-3 fw-bold">Pago exitoso</h1>
    <h2 class="text-muted fw-bolder">Sigue los pasos indicados en la pantalla</h2>
</section>


<section style="height:800px" class="d-flex flex-colum align-items-center p-3 bg-azul-calro">

    <div class="d-flex flex-column col-6 mx-auto">
        <div class="card border-0 shadow rounded-3  text-center mb-4">
            <div class="card-body mb-4">
                <div class="p-3">
                    <img src="assets/img/checked.png" class="img-fluid w-25">
                </div>
                <h3 class="text-muted">Para esperar tu atención elige la forma <br> de obtención de comprobante</h3>
            </div>
        </div>

        <div class="d-flex">

            <div class="mb-4 col-6 p-2">
                <div class="card border-0 shadow rounded-3  text-center">
                    <div class="card-header bg-primary text-white">
                        <h4>ENVIAR POR CORREO</h4>
                    </div>
                    <div class="card-body mb-4">
                        <a routerLink="/pages/envair-correo">
                            <div class="p-3 texto-azul">
                                <svg xmlns="http://www.w3.org/2000/svg" width="100" fill="currentColor"
                                    class="bi bi-envelope-paper-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M6.5 9.5 3 7.5v-6A1.5 1.5 0 0 1 4.5 0h7A1.5 1.5 0 0 1 13 1.5v6l-3.5 2L8 8.75l-1.5.75ZM1.059 3.635 2 3.133v3.753L0 5.713V5.4a2 2 0 0 1 1.059-1.765ZM16 5.713l-2 1.173V3.133l.941.502A2 2 0 0 1 16 5.4v.313Zm0 1.16-5.693 3.337L16 13.372v-6.5Zm-8 3.199 7.941 4.412A2 2 0 0 1 14 16H2a2 2 0 0 1-1.941-1.516L8 10.072Zm-8 3.3 5.693-3.162L0 6.873v6.5Z" />
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="mb-4 col-6 p-2">
                <div class="card border-0 shadow rounded-3  text-center">
                    <div class="card-header bg-primary text-white">
                        <h4>IMPRIMIR</h4>
                    </div>
                    <div class="card-body mb-4">
                        <a routerLink="/pages/tiket">
                            <div class="p-3 texto-azul">
                                <svg xmlns="http://www.w3.org/2000/svg" width="100" fill="currentColor"
                                    class="bi bi-printer-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z" />
                                    <path
                                        d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>