<section class="d-flex flex-column p-4 text-center shadow bg-body rounded">
    <h1 class="texto-azul display-3 fw-bold">Proceso de pago</h1>
    <h2 class="text-muted fw-bolder">Sigue los pasos indicados en la pantalla</h2>
</section>

<section style="height:800px" class="d-flex flex-colum align-items-center p-3 bg-azul-calro">

    <div class="d-flex flex-column col-4 mx-auto">

        <div class="card border-0 shadow rounded-3  text-center mb-4">
            <div class="card-body mb-4">
                <a routerLink="/pages/pago-exito">
                    <h4 class="texto-azul">Si tu tarjeta es contact less</h4>
                    <p class="text-muted">Acércala al simbolo que corresponde en la maquina</p>
                    <div class="p-3">
                        <img src="assets/img/tarjeta_credito.png" class="img-fluid w-50">
                    </div>
                </a>
            </div>
        </div>

        <div class="card border-0 shadow rounded-3  text-center mt-5">
            <div class="card-body mb-3">
                <a routerLink="/pages/pago-exito">
                    <h4 class="texto-azul">Si no es contact less</h4>
                    <p class="text-muted">Ingrésala en la ranura del sipositivo</p>
                    <div class="">
                        <img src="assets/img/punto_venta.png" class="img-fluid w-25">
                    </div>
                </a>
            </div>
        </div>

        <div class="form-group text-center mx-auto mt-4 col-3">
            <a routerLink="/pages/metodo-pago" class="btn btn-primary btn-lg"><i class="bi bi-arrow-left"></i> Volver</a>
        </div>


    </div>

</section>