<section class="d-flex flex-column p-4 text-center shadow bg-body rounded">
    <h1 class="texto-azul display-3 fw-bold">Modo de pago</h1>
    <h2 class="text-muted fw-bolder">Selecciona una opción para pagar tu cita médica</h2>
</section>

<section style="height:800px" class="d-flex flex-colum align-items-center p-3 bg-azul-calro">

    <div class="d-flex flex-column col-4 mx-auto">

        <div class="card border-0 shadow rounded-3  text-center position-relative mb-4">
            <div class="card-header bg-primary text-white">
                <h4>PAGO DÉBITO | CRÉDITO</h4>
            </div>
            <div class="card-body mb-4">
                <div class="p-3">
                    <img src="assets/img/transbank.png" class="img-fluid w-50">
                </div>
            </div>
            <button (click)="pagoApi()" class="position-absolute top-100 start-50 translate-middle btn btn-primary btn-lg">Continuar pago <i class="ms-1 bi bi-credit-card"></i></button>
        </div>

        <div class="card border-0 shadow rounded-3  text-center position-relative mt-5 mb-5">
            <div class="card-header bg-primary text-white">
                <h4>PAGO EN CAJA</h4>
            </div>
            <div class="card-body mb-3">
                <div class="p-3">
                    <h2 class="fw-bolder texto-azul">Otros Mdios de Pago</h2>
                </div>
            </div>
            <button (click)="pagoCaja()" class="position-absolute top-100 start-50 translate-middle btn btn-primary btn-lg">Sacar Tiket <i class="ms-1 bi bi-cash"></i></button>
        </div>

        <div class="form-group text-center mx-auto mt-5 col-3">
            <a routerLink="/pages/detalle-pago" class="btn btn-primary btn-lg"><i class="bi bi-arrow-left"></i> Volver</a>
        </div>

    </div>

</section>