<div class="card mx-auto mt-4 col-2 mb-auto">
    <div class="row btn-group-lg" role='group'>
      <button (click)="prees('1')" type="button" class="col-sm btn btn-primary py-2">1</button>
      <button (click)="prees('2')" type="button" class="col-sm btn btn-primary py-2">2</button>
      <button (click)="prees('3')" type="button" class="col-sm btn btn-primary py-2">3</button>
    </div>
    <div class="row btn-group-lg">
      <button (click)="prees('4')" type="button" class="col-sm btn btn-primary py-2">4</button>
      <button (click)="prees('5')" type="button" class="col-sm btn btn-primary py-2">5</button>
      <button (click)="prees('6')" type="button" class="col-sm btn btn-primary py-2">6</button>
    </div>
    <div class="row btn-group-lg">
      <button (click)="prees('7')" type="button" class="col-sm btn btn-primary py-2">7</button>
      <button (click)="prees('8')" type="button" class="col-sm btn btn-primary py-2">8</button>
      <button (click)="prees('9')" type="button" class="col-sm btn btn-primary py-2">9</button>
    </div>
    <div class="row btn-group-lg">
      <button (click)="prees('k')" type="button" class="col-sm btn btn-primary py-2">k</button>
      <button (click)="prees('0')" type="button" class="col-sm btn btn-primary py-2">0</button>
      <button (click)="prees('*')" type="button" class="col-sm btn btn-primary py-2"><i class="bi bi-backspace"></i></button>
    </div>
</div>