<section class="d-flex flex-column p-4 text-center shadow bg-body rounded">
    <h1 class="texto-azul display-3 fw-bold">Selecciona su Motivo de Atención</h1>
    <h2 class="text-muted fw-bolder">Siga los pasos indicados en pantalla</h2>
  </section>
  
  <section style="height:800px" class="d-flex justify-content-center align-items-center bg-azul-calro">
    <div class="d-flex flex-column col-4">
      <a routerLink="/pages/cita" class="bg-primary border border-5 border-white text-center p-4 mb-5">
        <strong class="text-white">COMPRE SU BONO</strong>
      </a>
      <a routerLink="/pages/atencion" class="bg-primary border border-5 border-white text-center p-4 mb-5">
        <strong class="text-white">TOME SU TURNO DE ATENCIÓN</strong>
      </a>

      <div class="form-group mx-auto mt-5">
        <a routerLink="/login" class="btn btn-primary btn-lg d-flex align-items-center"><i class="bi bi-arrow-left"></i> Volver</a>
      </div>

    </div>
    
  </section>